body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
    padding: 10px;
    margin:20px;
    width: auto;
    border: 5px dashed rgb(43, 37, 37);
}
h3 {
    text-align: center;
    margin: auto;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 3px;
}
p {
    margin: 2px;
}
a {
    color: green;
    text-align: center;
    display: block;
}
a:visited {
    color: darkgreen;
}
a:hover {
    color: pink;
}
a:active {
    color: red;
}
.navbar {
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
}
.purpose {
    position: absolute;
    top: 0;
    left: 150px;
}
.main {
    height:fit-content;
    width: fit-content;
    max-width: 800px;
    min-height: 200px;
    position: absolute;
    left: 150px;
    top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subdiv {
    margin: 10px;
    width: fit-content;
    height:fit-content;
    border: solid white
}

#achievement {
    position: absolute;
    left: 35%;
    overflow:auto;
    border: solid rgb(43, 37, 37);
    border-radius: 8px;
    min-height: fit-content;
    max-height: fit-content;
}
#achievement:hover {
    height: 80px;
    width: 900px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
@keyframes spin { 
    0% { 
        transform:rotate(0deg); 
    } 
    100% { 
        transform:rotate(360deg); 
    } 
}
#pagan_sign {
    position: absolute;
    left: 95%;
    animation:spin 1s linear infinite;
}
.clock {
    position: absolute;
    top:0px;
    left: 420px;
    padding:10px;
    overflow:hidden;
}