body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x:hidden;
}
div {
    padding: 10px;
    margin:20px;
    width: auto;
    border: 5px dashed rgb(43, 37, 37);
}
h3 {
    text-align: center;
    margin: auto;
    text-decoration: underline;
    padding-bottom: 5px;
    padding-top: 3px;
}
p {
    margin: 2px;
}
a {
    color: green;
    text-align: center;
    display: block;
}
a:visited {
    color: rgb(11, 70, 11);
}
a:hover {
    color: rgb(201, 0, 33);
}
a:active {
    color: whitesmoke;
}
.navbar {
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
}
.purpose {
    position: absolute;
    top: 0;
    left: 150px;
}
.main {
    max-width: 800px;
    min-height: 200px;
    position: absolute;
    left: 150px;
    top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subdiv {
    margin: 10px;
    width: fit-content;
    height:fit-content;
    border: solid rgb(83, 78, 78)
}

#achievement {
    position:absolute;
    left: 630px;
    top: 20px;
    overflow:hidden;
    border: solid rgb(43, 37, 37);
    border-radius: 8px;
    display: block;
    height: 55px;
    padding:0px;
    margin:0px;
}
#achievement:hover {
    height: 57px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    overflow:hidden;
}
@keyframes spin { 
    0% { 
        transform:rotate(0deg); 
    } 
    100% { 
        transform:rotate(360deg); 
    } 
}
#pagan_sign {
    position: absolute;
    left: 1290px;
    top: 20px;
    animation:spin 1s linear infinite;
}
#pagan_sign:hover {
    animation-play-state: paused;
}
.clock {
    position: absolute;
    width: 160px;
    top:0px;
    left: 410px;
    padding:10px;
    overflow:hidden;
    display: block;
}
#items {
    position:absolute;
    left: 150px;
    top: 376px;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.flexbox_items {
    padding: 0px;
    margin: 10px;
    height: fit-content;
    width: auto;
}
.flexbox_items:hover {
    font-size: larger;
    background-color: red;
}